.listText {
  list-style-type: none;
  background-color: #1a171d;
  height: 15px;
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 5px;
}

.taskName {
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: normal;
}

.taskCat {
  background-color: #f3aa4e;
  border-radius: 10px;
  height: 30px;
  color: #131213;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 600;
  padding: 10px;
  align-items: center;
}
